@charset "UTF-8";

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

menu {
   background-color: black;
}

.menuLogo > img {
   width: 40px;
   margin: 25px ;
}

.menuGif {
   width: 40px;
}

.menuAll {
   display: flex;
   justify-content: space-between;
}

nav {
   margin: 30px;
}

nav > ul {
   display: flex;
   gap: 0px 15px;
}

nav > ul > li {
   color: white;
   border: 2px solid white;
   padding: 10px;
   border-radius: 10px;
   box-shadow: 1px 1px 1px grey;
   font-size: 18px;
   cursor: pointer;
   transition: .5s;
}

nav > ul > li:hover {
   border: 2px solid #FF0043;
   box-shadow: 1px 1px 1px #FF0043;
}