$backgroundColorDiv: rgb(255, 0, 0);
$backgroundColorLi: #ffff;
$backgroundColor: rgb(1, 89, 1);
$backgroundColorHover: rgba(1, 89, 1, 0.43);

.classe-1 {
   ul {
      background-color: $backgroundColorDiv;
   }
   li {
      background-color: $backgroundColorLi;
      padding: 10px 0px;
   }
   button {
      background-color:$backgroundColor;
      color: white;
      cursor: pointer;
      transition: .5s;
      &:hover {
         background-color: $backgroundColorHover;
      }
   }
}